Problématique du projet : Quels sont les facteurs qui influencent les ventes et comment prédire leur impact ?

In [12]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

In [2]:
pd.set_option('display.max_columns', None)
pd.set_option("display.max_rows", None)

In [11]:
train= pd.read_csv('train.csv')
# test= pd.read_csv('test.csv')
features= pd.read_csv('features.csv')
stores= pd.read_csv('stores.csv')

train['Date']= pd.to_datetime(train['Date'])
# test['Date']= pd.to_datetime(test['Date'])
features['Date']= pd.to_datetime(features['Date'])

train= train.merge(stores).merge(features)

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, shuffle= False)

,Store,Dept,Date,Weekly_Sales,IsHoliday,Type,Size,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment
0,1,1,2010-02-05,24924.50,False,A,151315,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106
1,1,2,2010-02-05,50605.27,False,A,151315,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106
2,1,3,2010-02-05,13740.12,False,A,151315,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106
3,1,4,2010-02-05,39954.04,False,A,151315,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106
4,1,5,2010-02-05,32229.38,False,A,151315,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106

In [ ]:
weekly_sales_by_date = train.groupby('Date')['Weekly_Sales'].sum()

plt.figure(figsize=(12, 6))  # Définissez la taille du graphique
plt.plot(weekly_sales_by_date, marker='o', linestyle='-')
plt.title('Ventes Hebdomadaires en Fonction de la Date')
plt.xlabel('Date')
plt.ylabel('Ventes Hebdomadaires')
plt.grid(True)

# Affichez le graphique
plt.show()